<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaishali.admin.MyBookApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vaishali.admin.MyBookApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vaishali.admin.MyBookApp.Scan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaishali.admin.MyBookApp.MainActivity" />
        </activity>
        <activity android:name="com.vaishali.admin.MyBookApp.Add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaishali.admin.MyBookApp.MainActivity" />
        </activity>
        <activity android:name="com.vaishali.admin.MyBookApp.View1">


            <meta-data
                android:name="android.app.default_searchable"
                android:value=".View1" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaishali.admin.MyBookApp.MainActivity" />
            <meta-data
                android:name="android.app.Searchable"
                android:resource="@xml/search" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity android:name="com.vaishali.admin.MyBookApp.SearchActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaishali.admin.MyBookApp.View1" />
        </activity>
    </application>

</manifest>